*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right top, #845ec2, #7c80d8, #7d9fe7, #8dbbef, #abd5f5, #aed7f1, #b3d9ec, #b9dae8, #9bc7d8, #7db3c9, #5ca1b9, #368eaa);
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}

.wrapper .header {
    position: relative;
    font-size: 2.5rem;
    font-weight: 500;
    font-family: "Afacad Flux", sans-serif;
    letter-spacing: 5px;
}

.wrapper .header::after {
    content: "";
    position: absolute;
    bottom: -10%;
    left: 35%;
    width: 40%;
    height: 5px;
    background-color: #368eaa;
    border-radius: 10px;
}

.card-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50rem;
    padding: 1.5rem;
    background-color: white;
    box-shadow: 2px 4px 26px -10px rgba(0,0,0,0.75);
    border-radius: 5px;
    overflow: hidden;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 450px;
    justify-content: space-around;
    transition: left 300ms ease-in,
                opacity 300ms ease-in;
}

.card.animate-right {
    animation: 300ms ease-in 0s slidein;
}

.card.animate-left {
    animation: 300ms ease-in 0s slideout;
}

.card .headings {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.2rem;
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    letter-spacing: 2px;

}

.card .dedication {
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
    color: #5cb995;
}

.card .review {
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    text-align: center;
    margin-top: 0.6rem;
    height: 15%;
}

.card .slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.card .slide .button-container{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card .slide .button-container button {
    background-color: #5cb995;
    border: none;
    font-size: 0.8rem;
    cursor: pointer;
    border-radius: 50%;
    padding: 0.5rem;
    color: white;
}

.card .slide .random-review {
    border: 1px solid #5cb995;
    color: #5cb995;
    background-color: transparent;
    font-size: 0.8rem;
    cursor: pointer;
    border-radius: 10px;
    padding: 0.3rem;
    margin-top: 0.3rem;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}

.card .img-container {
    position: relative;
    min-width: 8rem;
    width: 15%;
    height: 8rem;
}

.card .img-container::after {
    content: "";
    top: -3%;
    right: -4%;
    position: absolute;
    min-width: 8rem;
    width: 15%;
    height: 8rem;
    background-color: #7c80d8;
    border-radius: 50%;
    
}

.card .img-container::before {
    content: '❞';
    display: flex;
    justify-content: center;
    align-self: center;
    position: absolute;
    top: 0;
    left: 0;
    min-width: 2rem;
    width: 5%;
    height: 2rem;
    background-color: #7c80d8;
    color: white;
    border-radius: 50%;
    z-index: 3;
    font-size: 2rem;
    font-weight: 500;
    font-family: "Afacad Flux", sans-serif;
}


.card .img-container img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    z-index: 2;  
}

@keyframes slidein {
    from {
        opacity: 0;
        left: 40%;
    }

    to {
        opacity: 1;
        left: 0;
    }
}

@keyframes slideout {
    from {
        opacity: 0;
        left: -40%;
    }

    to {
        opacity: 1;
        left: 0;
    }
}